    body {
        font-family: "Poppins", sans-serif;
        background-color: white;
    }
    
    
    .menu-topo-pagina {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
    }

    .menu {
        display: flex;
        gap: 40px;
        font-weight: 800;
    }

    .principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 50px;
        background: linear-gradient(to right, #DFF3FF 50%, #a4d6f6  );
        border-radius: 20px;
    }
  
    .impacto {
        flex: 5;
        display:flex;
        flex-direction: column;
        gap: 24px;
    }

    .panoramica {
        flex: 4;
    }

    .impacto h1 {
        font-size: 56px;
        font-weight: 700;
    }

    .impacto p {
        font-size: 20px;
        line-height: 20px;
        color: #555;
        max-width: 500px;
    }

    .impacto a {
        font-size: 18px;
        color: azure;
        background-color: #014689;
        align-self: baseline;
        padding: 10px 15px;
        border-radius: 10px;
        text-decoration: none;;
        transition: 0.3s ease ;
    }

    .impacto a:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5) ;
        transform: scale(1.02);
    }

    .panoramica img {
        width: 100%;
        max-width: 800px;
        height: auto;
        border-radius: 20px;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
    }

    .logo-codemar img {
        width: 80px;
        height: auto;
    }

    .menu a {
        text-decoration: none;
        color: #333;
        font-size: 17px;
        font-weight: 600;
    }

    .menu a:hover {
        color: #014689;
        transform: translateY(-2px);
    }

    .projetos h2 {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }

    .cards-p {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 100px 50px;
        background: linear-gradient(to right, #DFF3FF 50%, #a4d6f6 );
        border-radius: 20px;
    }

    .card-p {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        padding: 30px 20px;
    }

    .card-p img {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 10px;
    }

    .card-p h3 {
        display: flex;
        justify-content: center;
    }

    .card-p p {
        display: flex;
        text-align: center;
        max-width: 300px;
        
    }

    .card-p a {
        font-size: 18px;
        color: azure;
        background-color: #014689;
        align-self: center;
        padding: 10px 15px;
        border-radius: 10px;
        text-decoration: none;;
        transition: 0.3s ease ;
    }

    .card-p a:hover {
        transform: translateY(2px);
    }

    
    .noticias h2 {
        text-align: center;
        gap: 50px;
        font-size: 50px;
    }
    
    .cards-n {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 100px 50px;
        background: linear-gradient(to right, #DFF3FF 50%, #a4d6f6  );
        border-radius: 20px;
    }

    .card-n {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        padding: 30px 20px;
    }

    .card-n img {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 10px;
    }

    .card-n h3 {
        display: flex;
        justify-content: center;
    }

    .card-n p {
        
        text-align: center;
        max-width: 300px;
        
    }

    .card-n a {
        font-size: 18px;
        color: azure;
        background-color: #014689;
        align-self: center;
        padding: 10px 15px;
        border-radius: 10px;
        text-decoration: none;;
        transition: 0.3s ease ;
    }

    .card-n a:hover {
        transform: translateY(2px);
    }

    .footer-conteudo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #014689 ;
        color: white;
        padding: 70px 50px;   
    }
    
    footer{
        margin-top: 80px;
        background-color: #014689 ;
        color: white;
        padding: 70px 50px;
        border-radius: 20px;
    }

    .informacoes {
        display: flex;
        gap: 80px;
    }

    .informacoes h3 {
        font-size: 20px;
        font-weight: 700;
    }

    .informacoes p {
        font-size: 15px;
        color: rgba(255,255,255,.8);
    }

    .logo-codemar-prefeitura {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 150px;
        height: auto;
        padding: 20px;
    }

    .redes-sociais img {
        display: flex;
        gap: 40px;
        width: 100%;
        max-width: 50px;
        height: auto;
        padding: 0px 50px;
    }

    .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        margin-top: 40px;
        padding-top: 20px;
        text-align: center;
    }